<div id="<%= dom_id filme %>">
  <p>
    <strong>Titulo:</strong>
    <%= filme.titulo %>
  </p>

  <p>
    <strong>Ano de lançamento:</strong>
    <%= filme.ano_de_lançamento %>
  </p>

  <p>
    <strong>Ator:</strong>
    <%= filme.ator_id %>
  </p>

  <p>
    <strong>Criticas:</strong>
    <%= filme.criticas_id %>
  </p>

</div>
